.form-main-container {
  margin-top: 40px;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
}

.studentsData {
  border: 1px solid lighgra;
  border-radius: 4px;
  padding: 10px;
}

.table-container {
  width: 100%;
  height: fit-content;
}
