<html>
  <body>
    <img src="../../../assets/banner.jpg" class="main-image" />
    <!-- <hr /> -->
    <div class="main-container">
      <mat-grid-list cols="2" rowHeight="2:1" class="mat-grid">
        <mat-grid-tile>
          <div class="home-page-text-1">
            <p>
              Master of Science (M.Sc. Computer Science) is two years Full-Time
              Programme. This programme is designed to develop student’s
              knowledge of computer science to be industry-ready. The program is
              a blend of analyzing the problems, designing systems, and
              developing solutions.
            </p>
          </div></mat-grid-tile
        >
        <mat-grid-tile
          ><mat-card class="card-detail">
            <span>Duration : 2 Years</span>
            <hr style="color: #cd354d" />
            <span>Admission Open</span>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <hr />
      <div class="section-2">
        <div class="Criteria-details">
          <ol>
            <li>
              <b>Maharashtra State (MS) Candidature</b>
              <ul>
                <li>Candidate should be an Indian Nationality.</li>
                <li>
                  Passed Bachelor’s Degree in B.Sc(Comp. Sci), BCS, B.Sc(IT)
                  from any recognized University approved by UGC / AIU with 50%
                  of Marks ( 45% marks aggregate in case of candidate backward
                  class categories and persons with disability belonging to
                  Maharashtra state only)
                </li>
                <li>
                  Obtained score of PG-PET conducted by MIT World Peace
                  University.
                </li>
              </ul>
            </li>
            <li>
              <b>Other Than Maharashtra (OMS) Candidature</b>
              <ul>
                <li>
                  Passed Bachelor’s Degree in B.Sc(Comp. Sci), BCS, B.Sc(IT)
                  from any recognized University approved by UGC / AIU with 50%
                  of Marks
                </li>
                <li>
                  Obtained score of PG-PET conducted by MIT World Peace
                  University.
                </li>
              </ul>
            </li>
            <li>
              <b>
                Foreign Nation / NRI / OCI / PIO, Children of Indian workers in
                the Gulf countries</b
              >
              <ul>
                <li>
                  Passed Bachelor’s Degree in B.Sc(Comp. Sci), BCS, B.Sc(IT)
                  from any recognized University approved by UGC / AIU (or)
                  Govt. recognized Foreign University with 50% of Marks.
                </li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
      <hr />
    </div>
  </body>
</html>
