.routeroutlet-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.toolbar-container {
  display: flex;
}

.toolbar-sub-container {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}
