<div
  style="
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    margin-top: 50px;
  "
>
  <mat-card style="width: 300px">
    <p>
      Address: MIT-World Peace University S.No.124, Paud Road, Kothrud, Pune,
    </p>
    <p></p>
    <p>Maharashtra 411038 +91 20 – 25703400</p>
  </mat-card>
  <mat-card style="">
    <p>Program Enquiry: Monday - Saturday : 10:00 AM – 6:00 PM</p>
    <p>Campus: MIT-WPU,</p>
    <p>Kothrud Campus Phone : +91 20 – 7117 7104, +91 20 – 7117 7105</p>
    <p>Email : admissions@mitwpu.edu.in</p>
  </mat-card>
</div>
